# compiled output
node_modules
# ignore .git and .cache folders
.git
.cache
# ignore all *.class files in all folders, including build root
**/*.class


# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README.md

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#dev
Test
.eslint.js
.prettierrc
